body,p{
	margin: 0px;
	padding:0px;
}
.wrapper div {
	border:solid thin
}	
.banner{
	 margin: 15% 5%;
}
.bannerImage{
	  width: 213px;
      float: left;
  }
.bannerLogo{
	width:69%;
	float:right;
	height: 200px;
	border:solid thin;
}
.wrapper .container,.artistContainer,.pubContainer{
	height: 300px;
	border:solid thin;
	clear: right;
	
}
.headerContainer{
	min-height: 80px;
	height: 100px;
}
.headerContainer a{
	float: right;
	margin: 3%;
	
}
