<form action="http://google.com" method="post">
	<div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  	</div>
  	<div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
  	</div>
  	<div class="form-group">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
  	</div>
  	<div class="form-group">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
  	</div>
  	  <button type="submit" class="btn btn-default">Submit</button>
</form>